<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dev_Kinder.Properties.Settings.db_kinderConnectionString"
            connectionString="Data Source=(localdb)\Carlos99;Initial Catalog=db_kinder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>